In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('../data/Traffic_Accidents_2.csv')

In [3]:
df.head()

,Accident Number,Date and Time,Number of Motor Vehicles,Number of Injuries,Number of Fatalities,Property Damage,Hit and Run,Collision Type Description,Weather Description,Illumination Description,...,HarmfulDescriptions,ObjectId,Zip Code,RPA,Weather,IlluACCIDEmination,Collision Type,Reporting Officer,x,y
0,2008473471,7/14/2018 11:00:00 PM,2.0,2.0,0.0,NaN,N,ANGLE,NO ADVERSE CONDITIONS,NaN,...,NaN,1,37208.0,4525.0,1.0,1.0,4.0,225845.0,-9.664843e+06,4.323742e+06
1,20180039368,1/12/2018 11:34:00 PM,1.0,0.0,0.0,NaN,Y,NOT COLLISION W/MOTOR VEHICLE-TRANSPORT,SNOW,DAYLIGHT,...,CONCRETE TRAFFIC BARRIER;Ran Off Road-Left,2,37207.0,18062.0,4.0,1.0,0.0,151132.0,-9.658798e+06,4.332935e+06
2,2008787228,11/16/2018 9:33:00 AM,1.0,1.0,0.0,NaN,N,NOT COLLISION W/MOTOR VEHICLE-TRANSPORT,NO ADVERSE CONDITIONS,NaN,...,NaN,3,37203.0,5401.0,1.0,3.0,0.0,475881.0,-9.662645e+06,4.322558e+06
3,20180039370,1/12/2018 11:36:00 PM,1.0,1.0,0.0,NaN,Y,NOT COLLISION W/MOTOR VEHICLE-TRANSPORT,SNOW,DARK - LIGHTED,...,PEDESTRIAN,4,37216.0,1431.0,4.0,3.0,0.0,240972.0,-9.655323e+06,4.328165e+06
4,2009131786,2/19/2019 10:42:00 PM,1.0,1.0,0.0,NaN,N,HEAD-ON,NO ADVERSE CONDITIONS,NaN,...,NaN,5,37218.0,3235.0,1.0,1.0,2.0,562528.0,-9.674832e+06,4.329570e+06

In [4]:
print('Row count: ', df.shape[0])
print('Column count: ', df.shape[1])

Row count:  216713
Column count:  27

In [5]:
df.dtypes

Accident Number                 int64
Date and Time                  object
Number of Motor Vehicles      float64
Number of Injuries            float64
Number of Fatalities          float64
Property Damage                object
Hit and Run                    object
Collision Type Description     object
Weather Description            object
Illumination Description       object
Street Address                 object
City                           object
State                          object
Precinct                       object
Lat                           float64
Long                          float64
HarmfulCodes                   object
HarmfulDescriptions            object
ObjectId                        int64
Zip Code                      float64
RPA                           float64
Weather                       float64
IlluACCIDEmination            float64
Collision Type                float64
Reporting Officer             float64
x                             float64
y                             float64
dtype: object

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 216713 entries, 0 to 216712
Data columns (total 27 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   Accident Number             216713 non-null  int64
 1   Date and Time               216713 non-null  object
 2   Number of Motor Vehicles    216709 non-null  float64
 3   Number of Injuries          216710 non-null  float64
 4   Number of Fatalities        216710 non-null  float64
 5   Property Damage             17697 non-null   object
 6   Hit and Run                 216699 non-null  object
 7   Collision Type Description  203705 non-null  object
 8   Weather Description         195215 non-null  object
 9   Illumination Description    203218 non-null  object
 10  Street Address              216474 non-null  object
 11  City                        216709 non-null  object
 12  State                       216709 non-null  object
 13  Precinct                    216603 non-null  object
 14  Lat                         216711 non-null  float64
 15  Long                        216711 non-null  float64
 16  HarmfulCodes                197287 non-null  object
 17  HarmfulDescriptions         195091 non-null  object
 18  ObjectId                    216713 non-null  int64
 19  Zip Code                    216570 non-null  float64
 20  RPA                         216608 non-null  float64
 21  Weather                     195215 non-null  float64
 22  IlluACCIDEmination          203222 non-null  float64
 23  Collision Type              203705 non-null  float64
 24  Reporting Officer           216698 non-null  float64
 25  x                           216711 non-null  float64
 26  y                           216711 non-null  float64
dtypes: float64(13), int64(2), object(12)
memory usage: 44.6+ MB

In [7]:
df.describe()

,Accident Number,Number of Motor Vehicles,Number of Injuries,Number of Fatalities,Lat,Long,ObjectId,Zip Code,RPA,Weather,IlluACCIDEmination,Collision Type,Reporting Officer,x,y
count,2.167130e+05,216709.000000,216710.000000,216710.000000,216711.000000,216711.000000,216713.000000,216570.000000,216608.00000,195215.000000,203222.000000,203705.000000,2.166980e+05,2.167110e+05,2.167110e+05
mean,2.020886e+10,1.714834,0.410835,0.003835,36.145032,-86.743316,108357.000000,37172.364007,12604.11187,19.717138,1.927833,6.907101,1.222902e+06,-9.656222e+06,4.320612e+06
std,8.104245e+07,0.823652,0.775386,0.066273,0.169553,0.380924,62559.798781,69.474076,20749.17356,11.016559,3.869859,10.606326,1.563947e+06,4.240426e+04,2.079997e+04
min,2.008473e+09,0.000000,0.000000,0.000000,0.000000,-89.642550,1.000000,37013.000000,1001.00000,1.000000,1.000000,0.000000,1.000000e+00,-9.978963e+06,0.000000e+00
25%,2.019046e+10,1.000000,0.000000,0.000000,36.090980,-86.787790,54179.000000,37189.000000,4081.00000,21.000000,1.000000,4.000000,2.564140e+05,-9.661173e+06,4.313147e+06
50%,2.021017e+10,2.000000,0.000000,0.000000,36.149460,-86.750130,108357.000000,37207.000000,8125.00000,21.000000,1.000000,5.000000,3.728140e+05,-9.656980e+06,4.321206e+06
75%,2.023018e+10,2.000000,1.000000,0.000000,36.183640,-86.694580,162535.000000,37211.000000,8902.00000,21.000000,3.000000,11.000000,8.875920e+05,-9.650797e+06,4.325919e+06
max,2.025023e+10,27.000000,12.000000,4.000000,36.655540,0.000000,216713.000000,37240.000000,95101.00000,99.000000,98.000000,98.000000,4.019423e+06,0.000000e+00,4.391202e+06

In [8]:
#Columns that should potentially be integer types
convert_cols = ['Number of Motor Vehicles', 'Number of Injuries', 'Number of Fatalities', 
                'Zip Code', 'RPA', 'IlluACCIDEmination', 'Collision Type', 'Reporting Officer']

for col in convert_cols:
    print(col)
    print(df[col].unique())

Number of Motor Vehicles
[ 2.  1. nan  4.  3.  5.  8.  7.  6.  0. 12. 10. 11.  9. 27.]
Number of Injuries
[ 2.  0.  1. nan  3.  5.  6.  4.  7. 10.  8. 12.  9. 11.]
Number of Fatalities
[ 0. nan  1.  2.  3.  4.]
Zip Code
[37208. 37207. 37203. 37216. 37218. 37209.    nan 37115. 37206. 37210.
 37213. 37217. 37013. 37211. 37138. 37212. 37221. 37205. 37076. 37214.
 37220. 37215. 37204. 37027. 37072. 37189. 37201. 37219. 37080. 37228.
 37240. 37015. 37122. 37135.]
RPA
[ 4525. 18062.  5401. ...  4614.  4302. 19941.]
IlluACCIDEmination
[ 1.  3.  2. nan  5.  4.  9.  7. 98.]
Collision Type
[ 4.  0.  2.  1. 11. nan  5.  9. 16. 98.  3.  6.]
Reporting Officer
[ 225845.  151132.  475881. ... 4017401. 4016941. 4016948.]

In [9]:
#Change column types to Int64
convert_cols = ['Number of Motor Vehicles', 'Number of Injuries', 'Number of Fatalities', 
                'Zip Code', 'RPA', 'IlluACCIDEmination', 'Collision Type', 'Reporting Officer']

for col in convert_cols:
    df[col] = df[col].astype('Int64')

In [10]:
#Verify columns are converted to Int64
convert_cols = ['Number of Motor Vehicles', 'Number of Injuries', 'Number of Fatalities', 
                'Zip Code', 'RPA', 'IlluACCIDEmination', 'Collision Type', 'Reporting Officer']

for col in convert_cols:
    print(col)
    print(df[col].unique())

Number of Motor Vehicles
<IntegerArray>
[2, 1, <NA>, 4, 3, 5, 8, 7, 6, 0, 12, 10, 11, 9, 27]
Length: 15, dtype: Int64
Number of Injuries
<IntegerArray>
[2, 0, 1, <NA>, 3, 5, 6, 4, 7, 10, 8, 12, 9, 11]
Length: 14, dtype: Int64
Number of Fatalities
<IntegerArray>
[0, <NA>, 1, 2, 3, 4]
Length: 6, dtype: Int64
Zip Code
<IntegerArray>
[37208, 37207, 37203, 37216, 37218, 37209,  <NA>, 37115, 37206, 37210, 37213,
 37217, 37013, 37211, 37138, 37212, 37221, 37205, 37076, 37214, 37220, 37215,
 37204, 37027, 37072, 37189, 37201, 37219, 37080, 37228, 37240, 37015, 37122,
 37135]
Length: 34, dtype: Int64
RPA
<IntegerArray>
[ 4525, 18062,  5401,  1431,  3235,  4708,  4311,  1507,  1863,  1131,
 ...
 44061, 42024,  1255,  8163, 19061,  3309,  5125,  4614,  4302, 19941]
Length: 1971, dtype: Int64
IlluACCIDEmination
<IntegerArray>
[1, 3, 2, <NA>, 5, 4, 9, 7, 98]
Length: 9, dtype: Int64
Collision Type
<IntegerArray>
[4, 0, 2, 1, 11, <NA>, 5, 9, 16, 98, 3, 6]
Length: 12, dtype: Int64
Reporting Officer
<IntegerArray>
[ 225845,  151132,  475881,  240972,  562528,  298871,  571315,  240989,
  473670,  642287,
 ...
 4017411, 4016059, 4017706, 4016056, 4017713, 4019423, 4017147, 4017401,
 4016941, 4016948]
Length: 1619, dtype: Int64

In [11]:
#Looking at object data types
df.describe(include = 'object')

,Date and Time,Property Damage,Hit and Run,Collision Type Description,Weather Description,Illumination Description,Street Address,City,State,Precinct,HarmfulCodes,HarmfulDescriptions
count,216713,17697,216699,203705,195215,203218,216474,216709,216709,216603,197287,195091
unique,191329,2,2,11,13,8,30403,20,1,8,3485,2711
top,3/28/2025 5:00:00 AM,Y,N,Front to Rear,CLEAR,DAYLIGHT,I40 E EXT RAMP & I 40,NASHVILLE,TN,SOUTH,12,MOTOR VEHICLE IN TRANSPORT
freq,18,17696,160021,66451,139255,131529,876,160531,216709,50597,139181,140450

In [12]:
#change Date and Time to datetime type
df['Date and Time'] = pd.to_datetime(df['Date and Time'])

In [13]:
df['Date and Time']

0        2018-07-14 23:00:00
1        2018-01-12 23:34:00
2        2018-11-16 09:33:00
3        2018-01-12 23:36:00
4        2019-02-19 22:42:00
                 ...
216708   2025-04-09 19:33:00
216709   2025-04-09 19:37:00
216710   2025-04-09 19:48:00
216711   2025-04-09 05:00:00
216712   2025-04-09 20:18:00
Name: Date and Time, Length: 216713, dtype: datetime64[ns]

In [14]:
df['Hit and Run'].value_counts(dropna=False)

N      160021
Y       56678
NaN        14
Name: Hit and Run, dtype: int64

In [15]:
df['Property Damage'].value_counts(dropna=False)

NaN    199016
Y       17696
N           1
Name: Property Damage, dtype: int64

In [16]:
#Replace blank values for property damage with 'N' (per metadata description )
df['Property Damage'] = df['Property Damage'].fillna('N') 

#Recheck counts
df['Property Damage'].value_counts(dropna=False)

N    199017
Y     17696
Name: Property Damage, dtype: int64